@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #f3ffff;
  --secondary-color: #d8bdfa;
  --higlight-color: #ec2520;
  font-family: "Inter", sans-serif;
}

/*ESTILOS GENERALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

button {
  background-color: #04aa6d;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
}

/*HEADER*/

header {
  position: fixed;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2e2bb0;
  padding: 10px 20px;
  z-index: 1000;

}

/*MAIN*/

main{
  margin-top: 75px;
}

.content {
  position: relative;
  padding: 20px;
}

.sidebar {
  position: relative;
  width: 200px;
  padding: 20px;
  float: right;
}

.features{
  padding: 20px;
}

.feature {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  position: sticky;
  text-align: center;
  background-color: #2e2bb0;
  color: white;
}

.footer-social {
  list-style-type: none;
  padding: 0;
}
