@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --background: #0c0947;
  --color: #d2f361;
  --button-background: #ffffff;
  --button-color: #000000;
  --secondary: #0000ff;
  --spacing: 20px;
}

/*ESTILOS GENERALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--color);
}

a {
  color: var(--button-background);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
  transition: 0.2s;
}

h2,
h3 {
  letter-spacing: 1px;
  color: var(--button-background);
}

h3 {
  text-align: center;
}

li {
  list-style-type: none;
}

button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 6px;
}

button:hover {
  background-color: #555555;
  color: var(--button-background);
}

/*HEADER*/

header {
  position: fixed;
  height: auto;
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--secondary);
}

/*MAIN*/

main {
  position: relative;
  top: 60px;
  width: 100%;
  height: auto;
}

/* SECTIONS */

.sidebar {
  width: 200px;
  padding: var(--spacing);
  float: right;
  margin-right: var(--spacing);
  border: 2px dashed yellow;
}

section {
  padding: var(--spacing);
}

.content {
  margin-bottom: var(--spacing);
}

.features {
  text-align: center;
  margin-top: 400px;
}

.feature {
  margin: var(--spacing);
  padding: 40px;
  border: 2px dashed yellow;
}

.feature p {
  margin: var(--spacing);
}

/* FOOTER */

footer {
  position: sticky;
  bottom: 0;
  margin-top: var(--spacing);
  background-color: var(--secondary);
  color: var(--color);
  text-align: center;
  padding: 10px;
}

